extends partials/layout

//- Override default config variables
append config
    - var vendorStyles = ['tiny-slider/dist/tiny-slider.css', 'lightgallery.js/dist/css/lightgallery.min.css']
    - var vendorScripts = ['tiny-slider/dist/min/tiny-slider.js', 'lightgallery.js/dist/js/lightgallery.min.js', 'lg-video.js/dist/lg-video.min.js']
    - var parentMenu = 'Entertainment'
    - var pageTitle = 'Entertainment'

//- Navbar
block navbar
    include partials/navbar-solid-shadow

//- Page Content
block content
  -
    activities.sort( function(a,b) {
      return a.highlight ? -1 : 0 || new Date(a.start) - new Date(b.start) || new Date(a.end) - new Date(b.end) || a.title.localeCompare(b.title);   
    });
    let resourcesArray = {}
    for (const i of resources) {
      resourcesArray[i.id] = i
    }
  

  .container.py-4.mb-2.mb-sm-0.pb-sm-5
    .row.justify-content-center
      .col-lg-9
        h1.mb-2 Entertainment
        p.fs-4.mb-5 The line-up for the 2022 Great American Banana Split Celebration is here.

        .entertainment
          each a in activities
            if a.start && a.entertainer
              // Band
              article.card.card-horizontal.mb-grid-gutter&attributes(a.highlight ? {class: "bandShadow border-5", style: "border-color: #0757a4;"} : "")
                //- , a.image ? "" : {class: "col-md-6 col-lg-4 col-xl-3"}
                if a.image && a.image.page
                  img(src='img/entertainment/2022/'+a.image.page.file).card-img-top
                .card-body
                  if a.pre
                    .fs-sm.m-0 #{a.pre}
                  h2.h3.nav-heading.m-0
                    | #{a.title}
                  if a.post
                    .fs-sm.m-0 #{a.post}
                  
                  if a.start || a.resourceId || a.genre
                    ul.list-unstyled.fs-sm.align-items-center.m-0.mt-3
                      if a.genre
                        li.list-inline-item.m-0.me-3
                          i.fal.fa-music.fa-fw
                          | &nbsp; #{a.genre}
                      if a.start
                        li.list-inline-item.m-0.me-3
                          i.fal.fa-calendar-day.fa-fw
                          | &nbsp; #{ daysAbbv[new Date(a.start).getDay()] }, #{ monthsAbbv[new Date(a.start).getMonth()] } #{ new Date(a.start).getDate() }
                      if a.start
                        li.list-inline-item.m-0.me-3
                          i.fal.fa-clock.fa-fw
                          | &nbsp; #{new Date(a.start).toLocaleTimeString('en-US',{ timeStyle: 'short' }) }
                      if a.resourceId
                        li.list-inline-item.m-0.me-3
                          i.fal.fa-map-marker-alt.fa-fw
                          | &nbsp; #{resourcesArray[a.resourceId].title}
                      

                  if a.description
                    .d-flex.fs-sm.align-items-center.mt-3
                      | #{a.description}

                  if a.links
                    ul.list-unstyled.m-0.align-items-center.mt-4
                      each l in a.links
                        case l.type
                          when "website"
                            li.list-inline-item.m-0.me-2
                              a(href=l.link, target="_blank").meta-link.fs-xs
                                i.me-1.far.fa-link.fa-fw
                                | &nbsp;Website
                          when "facebook"
                            li.list-inline-item.m-0.me-2
                              a(href=l.link, target="_blank").meta-link.fs-xs
                                i.me-1.fab.fa-facebook.fa-fw
                                | &nbsp;Facebook
                          when "instagram"
                            li.list-inline-item.m-0.me-2
                              a(href=l.link, target="_blank").meta-link.fs-xs
                                i.me-1.fab.fa-instagram.fa-fw
                                | &nbsp;Instagram
                          when "twitter"
                            li.list-inline-item.m-0.me-2
                              a(href=l.link, target="_blank").meta-link.fs-xs
                                i.me-1.fab.fa-twitter.fa-fw
                                | &nbsp;Twitter
                          when "spotify"
                            li.list-inline-item.m-0.me-2
                              a(href=l.link, target="_blank").meta-link.fs-xs
                                i.me-1.fab.fa-spotify.fa-fw
                                | &nbsp;Spotify
                          when "appleMusic"
                            li.list-inline-item.m-0.me-2
                              a(href=l.link, target="_blank").meta-link.fs-xs
                                i.me-1.fab.fa-apple.fa-fw
                                | &nbsp;Apple Music
                          when "youtube"
                            li.list-inline-item.m-0.me-2
                              a(href=l.link, target="_blank").meta-link.fs-xs
                                i.me-1.fab.fa-youtube.fa-fw
                                | &nbsp;YouTube
        
        // Band
        //- article.card.card-horizontal.mb-grid-gutter
          img(src='img/entertainment/2021/conner-gilbert.jpg').card-img-top
          .card-body
            .meta-link.fs-sm.mb-2 Classic rock &amp; Alternative
            h2.h4.nav-heading
              | Conner Gilbert
            .d-flex.meta-link.fs-sm.align-items-center.mb-4
                i.fal.fa-star
                | &nbsp; presented by 1st Summit Bank
            .d-flex.meta-link.fs-sm.align-items-center.pt-3
                i.fal.fa-calendar-day
                | &nbsp;Saturday, August 21
                span.meta-divider
                i.fal.fa-clock
                | &nbsp;4 PM
                span.meta-divider
                i.fal.fa-map-marker-alt
                | &nbsp;Legion Keener Band shell
            .d-flex.meta-link.fs-sm.align-items-center.pt-3
              | Conner has made a name for himself as a successful musician having played in several bands in the past and is now focusing on honing his craft as a solo artist.
            .mt-3.text-end
              a(href='https://connergilbertmusic.com/', target="_blank").meta-link.fs-xs
                i.me-1.far.fa-link
                | &nbsp;Website
              span.meta-divider
              a(href='https://www.facebook.com/ConnerGilbertMusic', target="_blank").meta-link.fs-xs
                i.me-1.fab.fa-facebook
                | &nbsp;Facebook
              span.meta-divider
              a(href='https://instagram.com/conner_gilbert', target="_blank").meta-link.fs-xs
                i.me-1.fab.fa-instagram
                | &nbsp;Instagram
              span.meta-divider
              a(href='https://twitter.com/ConnerGilbert', target="_blank").meta-link.fs-xs
                i.me-1.fab.fa-twitter
                | &nbsp;Twitter
              span.meta-divider
              a(href='https://open.spotify.com/artist/6pgHpEZnjUrHtqqDzHRxlm?si=Eg-iu7X0QJmNmYV4wWxQkA', target="_blank").meta-link.fs-xs
                i.me-1.fab.fa-spotify
                | &nbsp;Spotify
              span.meta-divider
              a(href='https://music.apple.com/us/artist/conner-gilbert/319175610', target="_blank").meta-link.fs-xs
                i.me-1.fab.fa-apple
                | &nbsp;Apple Music
              span.meta-divider
              a(href='https://youtube.com/user/ConnerGilbertMusic', target="_blank").meta-link.fs-xs
                i.me-1.fab.fa-youtube
                | &nbsp;YouTube

        // Band
        //- article.card.card-horizontal.mb-grid-gutter
          img(src='img/entertainment/2021/john-petrarca.jpg').card-img-top
          .card-body
            .meta-link.fs-sm.mb-2 Performance
            h2.h4.nav-heading
              | John Petrarca
            .d-flex.meta-link.fs-sm.align-items-center.mb-4
                i.fal.fa-star
                | &nbsp; presented by Steve Limani Realty One Group Gold Standard
            .d-flex.meta-link.fs-sm.align-items-center.pt-3
                i.fal.fa-calendar-day
                | &nbsp;Saturday, August 21
                span.meta-divider
                i.fal.fa-clock
                | &nbsp;5 PM
                span.meta-divider
                i.fal.fa-map-marker-alt
                | &nbsp;Legion Keener Band shell
        
        



    //- // CTA
    //- section.bg-secondary.bg-size-cover.py-5.py-md-6(style='background-image: url(img/demo/business-consulting/cta-bg.png);')
    //-     .container.py-3.py-md-0
    //-         .row.align-items-center
    //-             .col-lg-5.col-md-6.text-center.text-md-start
    //-                 h2.mb-4.pb-3.pb-md-0.mb-md-0 Want to perform at the event?
    //-             .col-lg-7.col-md-6
    //-                 .row
    //-                     //- .col-sm-7.col-md-12.col-lg-7.mb-3.mb-lg-0
    //-                     //-     input(type='email' placeholder='Your email' required).form-control
    //-                     //-     .invalid-feedback Please provide a valid email address!
    //-                     //- .col-sm-5.col-md-12.col-lg-5
    //-                     //-     button(type='submit').btn.btn-primary.d-block.w-100 Book a Consultation
    //-                 .d-flex.align-items-center.justify-content-center.justify-content-sm-start
    //-                     i.ai-mail.fs-xl.me-2
    //-                     span.me-2 Send the details on your act to #[a(href='mailto:entertainment@bananasplitfest.com').nav-link-style entertainment@bananasplitfest.com]
    //-                 //- .d-flex.align-items-center.justify-content-center.justify-content-sm-start.pt-2
    //-                 //-     i.ai-phone.fs-xl.me-2
    //-                 //-     span.me-2 Or call us #[a(href='tel:+17245372671,702').nav-link-style 724 537 2671 x702]


    // Past Headliners
    section.container.my-5.py-5.py-md-3
        .row.justify-content-center
            .col-lg-9
                p.h6 Past Headliners
                p Take a look back at the artists who have performed at the Banana Split Celebration!
        .row.justify-content-center
            .col-xl-11
                .tns-carousel-wrapper
                    .tns-carousel-inner(data-carousel-options='{"mode": "gallery", "nav": false}')

                        // Item
                        div
                            .pb-3.pb-md-0.ps-md-7.ms-md-3
                                .bg-size-cover.bg-position-center.rounded-3.py-7(style='background-image: url(img/entertainment/the-clarks.jpg);')
                                    .d-md-flex.align-items-center.ms-md-n7.text-center.text-md-start
                                        .card.card-body.d-none.d-md-flex.py-grid-gutter.px-grid-gutter.border-0.shadow-lg.me-6.scale-up(style='max-width: 28rem;')
                                            p.display-6 The Clarks
                                            p.mb-0 The Clarks played the Banana Split Celebration in 2015. The American rock band, originated at Indiana University of Pennsylvania and in 30+ years has produced eleven studio albums, two live albums, 2 compilation albums, an EP, and four solo releases.
                                .d-md-none.mt-n6.px-3.scale-up
                                    .card.card-body.py-grid-gutter.px-grid-gutter.border-0.shadow.mx-auto(style='max-width: 28rem;')
                                        p.display-6 The Clarks
                                        p.mb-0 The Clarks played the Banana Split Celebration in 2015. The American rock band, originated at Indiana University of Pennsylvania and in 30+ years has produced eleven studio albums, two live albums, 2 compilation albums, an EP, and four solo releases.

                        // Item
                        div
                            .pb-3.pb-md-0.ps-md-7.ms-md-3
                                .bg-size-cover.bg-position-center.rounded-3.py-7(style='background-image: url(img/entertainment/kellie-pickler.jpg);')
                                    .d-md-flex.align-items-center.ms-md-n7.text-center.text-md-start
                                        .card.card-body.d-none.d-md-flex.py-grid-gutter.px-grid-gutter.border-0.shadow-lg.me-6.scale-up(style='max-width: 28rem;')
                                            p.display-6 Kellie Pickler
                                            p Country music singer, songwriter, actress, and TV personality performed at the 2016 Banana Split Celebration. Her 2006 debut album had the hit songs "Red High Heels," "I Wonder," and "Things That Never Cross a Man's Mind."
                                .d-md-none.mt-n6.px-3.scale-up
                                    .card.card-body.py-grid-gutter.px-grid-gutter.border-0.shadow.mx-auto(style='max-width: 28rem;')
                                        p.display-6 Kellie Pickler
                                        p Country music singer, songwriter, actress, and TV personality performed at the 2016 Banana Split Celebration. Her 2006 debut album had the hit songs "Red High Heels," "I Wonder," and "Things That Never Cross a Man's Mind."

                        // Item
                        div
                            .pb-3.pb-md-0.ps-md-7.ms-md-3
                                .bg-size-cover.bg-position-center.rounded-3.py-7(style='background-image: url(img/entertainment/the-commonheart.jpg);')
                                    .d-md-flex.align-items-center.ms-md-n7.text-center.text-md-start
                                        .card.card-body.d-none.d-md-flex.py-grid-gutter.px-grid-gutter.border-0.shadow-lg.me-6.scale-up(style='max-width: 28rem;')
                                            p.display-6 The Commonheart
                                            p Playing in 2017 with their gritty vocals over rock riffs and horns, The Commonheart delivered an emotion-packed, soulful sound that lit up the downtown streets of Latrobe.
                                .d-md-none.mt-n6.px-3.scale-up
                                    .card.card-body.py-grid-gutter.px-grid-gutter.border-0.shadow.mx-auto(style='max-width: 28rem;')
                                        p.display-6 The Commonheart
                                        p Playing in 2017 with their gritty vocals over rock riffs and horns, The Commonheart delivered an emotion-packed, soulful sound that lit up the downtown streets of Latrobe.

                        // Item
                        div
                            .pb-3.pb-md-0.ps-md-7.ms-md-3
                                .bg-size-cover.bg-position-center.rounded-3.py-7(style='background-image: url(img/entertainment/vertigo-red.jpg);')
                                    .d-md-flex.align-items-center.ms-md-n7.text-center.text-md-start
                                        .card.card-body.d-none.d-md-flex.py-grid-gutter.px-grid-gutter.border-0.shadow-lg.me-6.scale-up(style='max-width: 28rem;')
                                            p.display-6 Vertigo Red
                                            p In 2018, VERTIGO RED a party rock cover band from Annapolis performed covers of a variety of music from today's radio pop-rock to 80s/90s retro favorites to modern country.
                                .d-md-none.mt-n6.px-3.scale-up
                                    .card.card-body.py-grid-gutter.px-grid-gutter.border-0.shadow.mx-auto(style='max-width: 28rem;')
                                        p.display-6 Vertigo Red
                                        p In 2018, VERTIGO RED a party rock cover band from Annapolis performed covers of a variety of music from today's radio pop-rock to 80s/90s retro favorites to modern country.

                        // Item
                        div
                            .pb-3.pb-md-0.ps-md-7.ms-md-3
                                .bg-size-cover.bg-position-center.rounded-3.py-7(style='background-image: url(img/entertainment/joe-grushecky.jpg);')
                                    .d-md-flex.align-items-center.ms-md-n7.text-center.text-md-start
                                        .card.card-body.d-none.d-md-flex.py-grid-gutter.px-grid-gutter.border-0.shadow-lg.me-6.scale-up(style='max-width: 28rem;')
                                            p.display-6 Joe Grushecky
                                            p Playing to a packed crowd, Joe Grushecky &amp; The Houserockers did, in fact, rock the house of Latrobe in 2019. A Rolling Stone review once said of the band, "they are up there with Springsteen, Petty and Seger".
                                .d-md-none.mt-n6.px-3.scale-up
                                    .card.card-body.py-grid-gutter.px-grid-gutter.border-0.shadow.mx-auto(style='max-width: 28rem;')
                                        p.display-6 Joe Grushecky
                                        p Playing to a packed crowd, Joe Grushecky &amp; The Houserockers did, in fact, rock the house of Latrobe in 2019. A Rolling Stone review once said of the band, "they are up there with Springsteen, Petty and Seger".






    // Industries
    //- section.bg-secondary.py-5.py-md-6.mt-n4
        .container.py-2
            .row.justify-content-center
                .col-lg-6.col-md-8.col-sm-10.text-center
                    h2 Industries
                    p.text-muted.mb-5.pb-2 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae
            .row
                .col-lg-4.col-sm-6.mb-grid-gutter
                    a(href='#' style='max-width: 400px;').card.border-0.shadow.mx-auto
                        img(src='img/demo/business-consulting/industries/01.jpg' alt='Life Science').card-img-top
                        .card-body
                            h3.h5.mb-0 Life Science
                .col-lg-4.col-sm-6.mb-grid-gutter
                    a(href='#' style='max-width: 400px;').card.card-hover.border-0.shadow.mx-auto
                        img(src='img/demo/business-consulting/industries/02.jpg' alt='Technology').card-img-top
                        .card-body
                            h3.h5.mb-0 Technology
                .col-lg-4.col-sm-6.mb-grid-gutter
                    a(href='#' style='max-width: 400px;').card.card-hover.border-0.shadow.mx-auto
                        img(src='img/demo/business-consulting/industries/03.jpg' alt='Healthcare').card-img-top
                        .card-body
                            h3.h5.mb-0 Healthcare
                .col-lg-4.col-sm-6.mb-grid-gutter
                    a(href='#' style='max-width: 400px;').card.card-hover.border-0.shadow.mx-auto
                        img(src='img/demo/business-consulting/industries/04.jpg' alt='Natural Resources').card-img-top
                        .card-body
                            h3.h5.mb-0 Natural Resources
                .col-lg-4.col-sm-6.mb-grid-gutter
                    a(href='#' style='max-width: 400px;').card.card-hover.border-0.shadow.mx-auto
                        img(src='img/demo/business-consulting/industries/05.jpg' alt='Freight & Logistics').card-img-top
                        .card-body
                            h3.h5.mb-0 Freight &amp; Logistics
                .col-lg-4.col-sm-6.mb-grid-gutter
                    a(href='#' style='max-width: 400px;').card.card-hover.border-0.shadow.mx-auto
                        img(src='img/demo/business-consulting/industries/06.jpg' alt='Retail').card-img-top
                        .card-body
                            h3.h5.mb-0 Retail
            .pt-3.text-center
                a(href='#').btn.btn-primary See all industries




//- Footer
block footer
    include partials/footer-default